
<%-include('include/header') %>
<main id="site-main">
    <div class="container">
        <!-- .box-nav.d-flex-justify-between -->
        <div class="box-nav d-flex-justify-between" >
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Use The Below form to create a new account</span>
        </div>
        <!--form-handling-->
        <%- include("include/_form") %> 
</div>
</main>
<%- include("include/footer") %> 